#root {
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.main-container {
    display: grid;
    align-items: center;
    justify-content: center;
    /*grid-template-rows: 1fr 1fr 5fr;*/
    height: 60vh;
    width: 90vh;
}

.main-container h1 {
    font-size: 2ch;
    font-weight: 600;
    height: 100%;
    width: 50vh;
    color: hsl(158, 6%, 62%);
    grid-row: 1;
}

#box h2 {
    text-align: left;
    font-size: 1.5ch;
    margin-bottom: 2ch;
}

#checkboxes{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin-top: 1rem;
    text-align: left;
    color: white;
    justify-content: left;    
    font-size: 1.2ch;
    left: 0;
    top: 0;
}

/* Estilizando o rótulo (label) para dar uma aparência personalizada */
#checkboxes label {
    position: relative;
    padding-left: 0px; /* Espaçamento à esquerda para a checkbox personalizada */
    cursor: pointer;
  }
  
  

  

#password-input {
    grid-row: 2;
    border: none; /* Remove a borda */
    border-radius: 0.2ch;
    background-color:#25222b; /* Cor de fundo sólida */
    width: 100%;
    box-sizing: border-box;
    padding: 1.2ch; /* Espaçamento interno */
    color:#56555d; /* Cor do texto */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2ch;
    font-weight: 700;
    align-items: center
}

#box{
    background-color: #25222b;
    padding: 1rem;
}
  
#generate{
    width: 100%;
    background-color: #a5ffae;
    color: #19171e;
    border: 2px solid #a5ffae;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    /*transition: border-color 0.25s;*/

}

#strength{
    margin-top: 1rem;
}

#div-generator{
    margin-top: 1rem;
}

#generate:hover{
    color: #a5ffae;
    background-color: #24232b;
    border: 2px solid #a5ffae;
}
  
/*.main-container .password-generator {
    grid-row: 3;
}*/
  
