#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.main-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 5fr;
    height: 80vh;
    width: 60vh;
    /*background-color: brown;*/
}
  
.main-container h1 {
    font-size: 2ch;
    font-weight: 600;
    color: hsl(158, 6%, 62%);
    grid-row: 1;
}
  
  
#password-input {
    grid-row: 2;
    border: none; /* Remove a borda */
    border-radius: 0.2ch;
    background-color:#25222b; /* Cor de fundo sólida */
    width: 100%;
    padding: 2ch; /* Espaçamento interno */
    color:#56555d; /* Cor do texto */
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    align-items: center
}
  
  
  
  
.main-container .password-generator {
    grid-row: 3;
}
  
