#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.main-container {
    display: grid;
    align-items: center;
    justify-content: center;
    /*grid-template-rows: 1fr 1fr 5fr;*/
    height: 60vh;
    width: 60vh;
}

.main-container h1 {
    font-size: 2ch;
    font-weight: 600;
    color: hsl(158, 6%, 62%);
    grid-row: 1;
}
  
#checkboxes{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin-top: 1rem;
    text-align: left;
    color: white;
}  

#password-input {
    grid-row: 2;
    border: none; /* Remove a borda */
    border-radius: 0.2ch;
    background-color:#25222b; /* Cor de fundo sólida */
    width: 100%;
    box-sizing: border-box;
    padding: 2ch; /* Espaçamento interno */
    color:#56555d; /* Cor do texto */
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    align-items: center
}

#box{
    background-color: #25222b;
    padding: 1rem;
}
  
#generate{
    width: 100%;
    background-color: transparent;
    color: green;
    border: 2px solid greenyellow;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    /*transition: border-color 0.25s;*/

}

#strength{
    margin-top: 1rem;
}

#div-generator{
    margin-top: 1rem;
}

#generate:hover{
    background-color: greenyellow;
}
  
/*.main-container .password-generator {
    grid-row: 3;
}*/
  
